---
import BlogCard from "./BlogCard.astro";

const { posts } = Astro.props;
---

<div class="blog-list">
  {posts.map((post) => (
    <BlogCard
      title={post.frontmatter.title}
      description={post.frontmatter.description}
      pubDate={post.frontmatter.pubDate}
      url={post.url}
      heroImage={post.frontmatter.heroImage}
      tags={post.frontmatter.tags}
    />
  ))}
</div>

<style>
  .blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  @media (max-width: 768px) {
    .blog-list {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
</style>